.fas {
    font-size: 1.5rem;
    padding: 0 5px 0 5px;
}

.download-button {
    margin-left: 10px;
}

.download-button:hover {
    background-color: rgb(51, 51, 56);
}

.upload-button {
    margin-left: 10px;
}

.upload-button:hover {
    background-color: rgb(51, 51, 56);
}
